<?xml version="1.0"?>
<launch>
 
  <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService" />
  <node name="marker_server" pkg="assignment2" type="marker_server" /> 
  <!--<node name="bat" pkg="assignment2" type="bat.py" output="screen"/>-->
  <!--<node name="load_ontology" pkg="assignment2" type="load_ontology.py" output="screen"/> -->
  
  <node name="coordinate_autonomous" pkg="assignment2" type="autonomous.py" output="screen"/>
  
  <node name="finite_state_machine" pkg="assignment2" type="finite_state_machine.py" output="screen"/>
  <!--<node name="scanner" pkg="assignment2" type="scanner.py" output="screen"/>-->
  
  
  
  

</launch>
